<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";

    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3" role="complementary">
                <div class="logo-wrapper">
                    <a href="/">
                        <img src="~/BO_Logo/Logo_text.svg"
                             class="img-fluid flex-center">
                    </a>
                </div>
                <partial name="_LoginPartial" />
                <nav class="float-left">
                    <partial name="_ManageNav" />
                </nav>
            </div>

            <div class="col-md-9" role="main">
                <main role="main" class="pb-3">
                    <div class="row">
                        <h1>Manage your account</h1>
                    </div>
                    @RenderBody()
                </main>
            </div>

            @section Scripts {
                @RenderSection("Scripts", required: false)
            }
        </div>
    </div>
</body>
